
html{
    background-color: #D3DEDC;
}
h1{
    font-size: xx-large;

    font-weight: bolder;
    color: #FFD700;
    text-shadow: 0 0 3px black, 0 0 5px black;
    text-align: center;
    font-family: serif;    
}
p{
    background-color: #FFEFEF;
    font-size: 12pt;
    border-radius: 3px;
    padding: 1%;
}
h2{
    color: #000000;
    font-size: 20px;

}